/*
Website: https://gitstalk.netlify.app/Matt-Gleich
*/

* {
  background-color: transparent !important;
  color: white !important;
}

.has-text-centered.title.is-size-2 {
  color: transparent !important;
}

.is-flex.input-container.margin-bottom.align-items-center {
  color: transparent !important;
}

.logo-image,
.darkmode,
.search {
  display: none !important;
}
