[user]
	email = email@mattglei.ch
	name = Matthew Gleich
	signingKey = 80935494AB3F9F9B
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[gpg]
	program = gpg
