[user]
	email = email@mattglei.ch
	name = Matthew Gleich
	signingkey = ABCBA433D06BB068
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
