[user]
	name = Matt Gleich
	email = git@mattglei.ch
	signingkey = DEC46BD660F47565
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = main
[core]
	editor = nvim
[gpg]
	program = gpg
