[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	name = Matt Gleich
	email = git@mattglei.ch
	signingkey = 0C4065CC7F0175D7
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = main
[core]
	editor = nvim
[gpg]
	program = gpg
[push]
	autoSetupRemote = true
