<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>📂</string>
		<key>shortcut</key>
		<string>:arch:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🚩</string>
		<key>shortcut</key>
		<string>:rmf:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⚙️</string>
		<key>shortcut</key>
		<string>:config:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🧼</string>
		<key>shortcut</key>
		<string>:clean:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤖</string>
		<key>shortcut</key>
		<string>:automation:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📦</string>
		<key>shortcut</key>
		<string>:package:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎨</string>
		<key>shortcut</key>
		<string>:ui:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🐛</string>
		<key>shortcut</key>
		<string>:bug:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🍊</string>
		<key>shortcut</key>
		<string>:update:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🍎</string>
		<key>shortcut</key>
		<string>:remove:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🍏</string>
		<key>shortcut</key>
		<string>:create:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🧪</string>
		<key>shortcut</key>
		<string>:test:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🛠</string>
		<key>shortcut</key>
		<string>:fix:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📄</string>
		<key>shortcut</key>
		<string>:doc:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🚀</string>
		<key>shortcut</key>
		<string>:feature:</string>
	</dict>
</array>
</plist>
