snippet ife
if err != nil {
	$1
}
endsnippet

snippet fn
// $1
func $2($3) $4 {
	$5
}
endsnippet

snippet pl
fmt.Println($1)
endsnippet

snippet it
for _, $1 := range $2 {
	$3
}
endsnippet

snippet tp
// $1
type $2 struct {
	$3
}
endsnippet

snippet rn
return nil
endsnippet

snippet init
func init() {
	$1
}
endsnippet
