extends html


snippet h1
#`echo " "`
endsnippet

snippet h2
##
endsnippet

snippet h3
###
endsnippet

snippet h4
####
endsnippet

snippet it
_$1_
endsnippet

snippet bo
**$1**
endsnippet

snippet note
<!-- Copyright © `date +"%Y"` Matt Gleich -->
<!--      Created: `date +"%D"`       -->

# `!p snip.rv = snip.basename`

$1
endsnippet
