snippet ie "In-line mathematics"
$ $1 $
endsnippet

snippet cm "Centered mathematics"
\[ $1 \]
endsnippet

snippet s "Section"
\section{$1}
endsnippet

snippet ss "Subsection"
\subsection{$1}
endsnippet

snippet sss "Sub subsection"
\subsubsection{$1}
endsnippet

snippet sol "Solution"
\begin{center}
    \item \textit{Sol.}
\end{center}

endsnippet

snippet c "Center environment"
\begin{center}
    \item $1
\end{center}
endsnippet

snippet cd "Center dot"
\cdot
endsnippet
